<div class="container"> 
<style></style>
<h1>Add container</h1>
<form class="form-newchemical mt-5 mx-4">
    <div class="form-row">
        <div class="form-group col-md-8">
            <label for="name">Container name</label>
            <div class="input-group">
                <input type="text" class="form-control w-25" id="prefix" name="prefix" placeholder="Prefix">
                <input type="text" class="form-control w-75" id="name" name="name" placeholder="Name">
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="barcode">Barcode</label>
            <input type="text" class="form-control" id="barcode" placeholder="Barcode">
        </div>
    </div>
    <div class="form-group">
        <label for="locations">Storage location</label>
        <select class="form-control selectpicker" id="locations" name="location_id" title="Location" data-live-search="true"></select>  
    </div>
    <hr class="w-100"/>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="supplier">Supplier</label>
            <input type="text" class="form-control" id="supplier" placeholder="Supplier">
        </div>
        <div class="form-group col-md-4">
            <label for="owner">Owner</label>
            <select class="form-control selectpicker" id="owners" name="owner_id" title="Owner" data-live-search="true">      
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="user">Last modified by</label>
            <input class="form-control" id="user" name="user" value="<%= current_user.name%>" readonly>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="product_number">Product Number</label>
            <input type="text" class="form-control" id="product_number">
        </div>
        <div class="form-group col-md-4">
            <label for="lot_number">Lot number</label>
            <input type="text" class="form-control" id="lot_number">
        </div>
        <div class="form-group col-md-4">
            <label for="container_image">Image</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Check me out
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>
</div>

<script src="/js/cas_autocomplete.js"></script>

<script>
$(document).ready(function () {
    PopulateLocationList('#locations'),
    PopulateUserList('#owners'),
    PopulateHazClassList('#haz_classes'),
    PopulateHazStatList('#haz_stats'),
    PopulatePrecStatList('#prec_stats'),
    PopulatePictogramList('#pictograms'),
    PopulateSignalWordList('#signal_word')
    $('#haz_classes').on('hide.bs.select', function () {
        $('#haz_class_categories').empty().show()
        for (i of $('#haz_classes').val()) {
            $.ajax({
                type: "GET",
                url: "/api/haz_class/id/" + i,
                data: {},
                dataType: "json",
                success: function (response) {
                    var selector = '<select class="form-control selectpicker" title="Category" id="haz_class_' + response['id'] + '"></select>'

                    $('#haz_class_categories').append('<dt class="col-md-2">' + response['description'] + '</dt>').append('<dd class="col-md-10">' + selector + '</dd>');

                    for (j of response['subclasses']) {
                        $('#haz_class_' + response['id']).append('<option value="' + j['id'] + '">' + j['description'] + '</option>');
                    }

                    $('#haz_class_' + response['id']).selectpicker('refresh');
                }
            });
        }
    });
    $("#create_container").click(function () {
        $('#haz_class_categories').append("<select multiple hidden name='haz_class_ids[]'></select>")
        for (i of $('#haz_classes').val()) {
            $("[name='haz_class_ids[]']").append("<option selected value=" + $('#haz_class_' + i).val() + ">item</option>")
        }
        components = JSON.stringify([{
            cas: $("[name='cas']").val(),
            name: $("[name='name']").val(),
            prefix: $("[name='prefix']").val(),
            inchi: $("[name='inchi']").val(),
            smiles: $("[name='smiles']").val(),
            pubchem: $("[name='pubchem']").val(),
            density: $("[name='density']").val(),
            melting_point: $("[name='melting_point']").val(),
            boiling_point: $("[name='boiling_point']").val(),
            haz_stats: $("[name='haz_stats[]']").val(),
            prec_stats: $("[name='prec_stats[]']").val(),
            pictogram_ids: $("[name='pictogram_ids[]']").val(),
            haz_class_ids: $("[name='haz_class_ids[]']").val(),
            signal_word: $("[name='signal_word']").val(),
            un_number: $("[name='un_number']").val(),
            un_proper_shipping_name: $("[name='un_proper_shipping_name']").val(),
            dg_class: $("[name='dg_class']").val(),
            packing_group: $("[name='packing_group']").val(),
            schedule: $("[name='schedule']").val(),

        }])
        $.ajax({
            type: "POST",
            url: "/api/container",
            data: {
                components: components,
                barcode: $("[name='barcode']").val(),
                location_id: $("[name='location_id']").val(),
                supplier: $("[name='supplier']").val(),
                product_number: $("[name='product_number']").val(),
                lot_number: $("[name='lot_number']").val(),
                quantity: $("[name='quantity']").val(),
                owner_id: $("[name='owner_id']").val(),
                user: $("[name='user']").val()
            },
            dataType: "json",
            success: function () {window.location.href = "/";}
        });
    });
    $("#cancel").click(function () {window.location.href = "/";});
});
</script>