<div class=""> 
    <table class="table">
    <thead>
    <tr>
        <th scope="col">Location Path</th>
        <th scope="col">Type</th>
        <th scope="col">Temperature</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    </table>

    <div class="container">
        <div class="">
        </div>
    </div>
</div>
<script>
$(document).ready(
$.ajax({
        type: "GET",
        url: "/api/location",
        data: {},
        dataType: "json",
        success: function (response) {
            for (i of response) {
                if (['Building', 'Room'].includes(i['location_type']['name'])) {
                    $('tbody').append('<tr class="font-weight-bold"><td><a href="/location/edit/' + i['id'] + '">' + i['location_path'] + '</a></td><td>' + i['location_type']['name'] + '</td><td>' + i['temperature'] + '&nbsp;&#8451;</td></tr>')
                } else {
                    $('tbody').append('<tr><td><a href="/location/edit/' + i['id'] + '">' + i['location_path'] + '</a></td><td>' + i['location_type']['name'] + '</td><td>' + i['temperature'] + '&nbsp;&#8451;</td></tr>')
                }
            }
        }
    })
)
</script>