<div class="jumbotron w-50" > 
<h1>Add location</h1>
  <form action="/api/location" method="POST"> 
    <div class="form-group">
      <input type="text" name="path" placeholder="Path" class="form-control"/>
    </div>
    <div class="form-group">
      <input type="text" name="code" placeholder="Code" class="form-control"/>
    </div>
    <div class="form-group">
      <input type="text" name="barcode" placeholder="Barcode" class="form-control"/>
    </div>

    <div class="form-group">
        <div class="input-group mb-3">
            <input type="text" class="form-control w-75" name="temperature" placeholder="Temperature">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">&#8451;</span>
            </div>
        </div>
    </div>

    <div class="form-group">
    <input class="form-check-input" type="checkbox" value="true" name ="monitored" id="monitored">
    <label class="form-check-label" for="monitored">
      Monitored?
    </label>
    </div>
    <button type="submit" class="btn btn-primary">Create Chemical</button> 
  </form><br>
</div>