<div class="jumbotron w-50" > 
<h1>Add location</h1>
  <div class="form-group">
    <select class="form-control selectpicker" id="location_list" name="parent_id" title="Parent Location" data-live-search="true">      
    </select>
  </div>
  <div class="form-group">
    <input type="text" name="name" placeholder="Name" class="form-control"/>
  </div>
  <div class="form-group">
    <input type="text" name="barcode" placeholder="Barcode" class="form-control"/>
  </div>

  <div class="form-group">
    <select class="form-control selectpicker" id="location_type_id" name="location_type_id" title="Location Type">   
    </select>
  </div>

  <div class="form-group">
      <div class="input-group mb-3">
          <input type="text" class="form-control w-75" name="temperature" placeholder="Temperature">
          <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">&#8451;</span>
          </div>
      </div>
  </div>

  <!--<div class="form-group">
  <input class="form-check-input" type="checkbox" value="true" name ="monitored" id="monitored">
  <label class="form-check-label" for="monitored">
    Monitored?
  </label>
  </div>-->
  <button id="create_location" class="btn btn-primary">Create Location</button> 
  <button class="btn btn-secondary" id="cancel">Cancel</button>
</div>

<!-- Modal -->
<div class="modal" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="feedbackModalTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="feedbackModalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function () {
  PopulateLocationList("#location_list");
  PopulateLocationTypeList("#location_type_id");
  $("#create_location").click(function () {
    $.ajax({
      type: "POST",
      url: "/api/location",
      data: {
        parent_id: $("[name='parent_id']").val(),
        name: $("[name='name']").val(),
        barcode: $("[name='barcode']").val(),
        location_type_id: $("[name='location_type_id']").val(),
        temperature: $("[name='temperature']").val(),
        monitored: $("[name='monitored']").prop("checked")
      },
      dataType: "json",
      success: function () {
        $('#feedbackModalTitle').html('Location created');
        $('#feedbackModalBody').html('Location ' + $("[name='name']").val() + ' successfully created.');
        $('#feedbackModal').modal();
      },
      error: function (xhr, status, error) {
        $('#feedbackModalTitle').html('Error');
        console.log(xhr);
        $('#feedbackModalBody').html(xhr['responseText']);
        $('#feedbackModal').modal();
      }
    });
  });
  $("#cancel").click(function () {window.location.href = "/";});
});
</script>