<!DOCTYPE html> 
  <html> 
    <head>
      <title>CoLiN</title> 
  
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
      <link rel="stylesheet" href="/css/main.css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="/css/bootstrap.css" /> 
      <link rel="stylesheet" href="/css/bootstrap-responsive.css" /> 
      
    </head>
   

    <body> 

      <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="/"><h1>CoLiN</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <% unless logged_in? %>
          <a class="navbar-brand" href="/login"><h2>Login</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> 
        <% end %> 

        <% if logged_in? %> 
          <a class="navbar-brand" href="/newuser"><h2>Create User</h2></a>
          <a class="navbar-brand" href="/logout"><h2>Logout</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>    
        <% end %>  

    </nav></br> 

    <center>

    <div> 
      <h3 style='color:red;'><% if flash.has?(:message) %> <%= flash[:message] %><% end %></h3> 
      <%= yield %>          
    </div> 

    </center>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>      
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

  <!--[if lt IE 7]>
   
    <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script> 
    
  <![endif]-->


  </body>
</html>