<!DOCTYPE html>

<html lang="en">

<head>
  <title>CoLIN - The Comprehensive Laboratory Information Nexus</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
        <ul class="navbar-nav ms-auto">
        <a class="navbar-brand" href="/">
          <img src="/img/colin.png" class="d-none d-md-block" width="90" height="90">
        </a>
        </ul>
        <ul class="navbar-nav  mr-auto">
          <li>
            <h1 style="padding-top:13px" >CoLIN</h1>
            <h4>Under development!</h4>
            <p class="lead">Comprehensive Laboratory Information Nexus</p>
          </li>
        </ul>
        <% if logged_in? %>
          <ul class="navbar-nav justify-content-end">
            <li>
              <form class="form-inline my-2" method="get" action="/container/search">
                <input class="form-control" type="text" placeholder="Name, CAS, or barcode" id="query" data-filter="data.json" name="query">
                <button class="btn btn-outline-success my-2" type="submit">Search</button>
              </form>
            </li>
          </ul>
        <% end %>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <% if logged_in? %>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"id="inventoryDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inventory</a>
            <div class="dropdown-menu" aria-labelledby="inventoryDropdown">
              <a class="dropdown-item" href="/container/new">Add Chemical</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Safety</a>
          </li>
          <% if current_user.isadmin == true %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"id="managementDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Management</a>
            <div class="dropdown-menu" aria-labelledby="managementDropdown">
              <a class="dropdown-item" href="/user/new">Create User</a>
              <a class="dropdown-item" href="/location/new">Add Location</a>
            </div>
          </li>
          <% end %>
        </ul>
        <ul class="navbar-nav ml-auto justify-content-end">
          <li class="nav-item"> 
            <a class="nav-link" href="/user/edit/username/<%= current_user.username %>">Logged in as <%= current_user.name %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/logout">Logout</a>
          </li>
        </ul>
        <% end %>
      </div>
    </nav>


    <center>
    <div> 
      <h3 style='color:red;'><% if flash.has?(:message) %> <%= flash[:message] %><% end %></h3> 
      <%= yield %>          
    </div> 
    </center>

  </div>
      

    


  <!--[if lt IE 7]>
   
    <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script> 
    
  <![endif]-->


  </body>
</html>