<div class="jumbotron w-50"> 
  <h1>Log In</h1> 

    <p><h2>Enter your username and password to log in:</h2></p><br> 

      <form method="POST" action="/login"> 
      
          <p>
            <label for ="username"><h2>Username:</h2></label><br>
            <input type="text" name="username" placeholder="username" style='width:50%'/> 
          </p> 
          <p>
            <label for ="password"><h2>Password:</h2></label><br>
            <input type="password" name="password" placeholder="password" style='width:50%'/>
          </p> 

          <button><h4>Log In</h4></button> 

      </form><br>
</div>